/**
* @name hideBlockedMessages
* @author Stella
* @version 1.1
* @description Thanks Nai for the code pieces that I was too lazy to do myself
* @source https://github.com/StellaThimoty/Discord-Square-Theme
*/

[class*="groupStart"]:has([class*="blockedSystemMessage"]),
[class*="repliedMessage"]:has([class*="replyBadge"]) {
    display: none;
}
