/**
* @name SquareBg
* @author stellaefz
* @version 1.0
* @description fuck squircles I hate you I hate you I hate you
*/

/* go to hell fuck you apple fuck you fuck you go fuck yourself */
*,
*::before,
*::after {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}



/* makes the bar with your pfp
and vc controls and settings 
stick to the bottom of the screen
where it fucking should be in the first place 

why would you make it a floating panel
what the fuck is wrong with you */
.panels_c48ade {
    bottom: 0px !important;
    left: 0px !important;
    width: 100% !important;
    border: 0 !important;
}

.header_f37cb1 {
    border: 0 !important;
}

/* Makes the above bar same size as
the message input */
.container__37e49 {
    padding: 8px 8px 4px 8px !important;
    margin-left: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.panels_c48ade::after {
    border: 0 !important;
}


/* small fix that was annoying once I noticed */
.wrapper_ef3116 {
  margin-bottom: calc(var(--custom-app-panels-height, 0)) !important;   
}

.chat_f75fb0[data-has-border=true] {
    border-top: 0px !important;
}

.searchBar__35e86 {
    border-bottom: 0px !important;
}

.container__9293f {
    border-bottom: 0px !important;
}


/* Removes the annoying bar on top I made sure so it wouldn't ever appear again */
.bar_c38106 {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
    size: 0 !important;
}

.base_c48ade {
    grid-template-rows: 0 !important;
}

/* makes message text input fatter and attaches it to bottom */
.form_f75fb0, .formWithLoadedChatInput_f75fb0 {
    height: 52px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.channelTextArea_f75fb0 {
    margin-bottom: 0 !important;
    border: 0 !important;
}

/* Makes pfp on the square area and server icons not squircles */
foreignObject {
    mask: 0;
}

.pointerEvents__44b0c {
    mask: 0;
}


/* Makes server icons bigger */
.stack_dbd263 {
    height: auto !important;
}

.svg_cc5dd2 {
    width: 56px !important;
    height: 56px !important;
}

.expandedFolderBackground__48112 {
    width: 56px !important;
    bottom: -10px !important;
}

/* This has to be different from the way I'm doing it
otherwise discord will overwrite it */
.listItem__650eb {
    margin: 8px 0px 8px 0px !important;
}

/* Folder icon thing */
.expandedFolderIconWrapper__48112 {
    width: 60px !important;
    height: 60px !important;
}

.folderIcon__48112 {
    margin-left: 8px !important;
    margin-bottom: -12px !important;
    margin-top: -4px !important;
}

/* I have no idea why but this was the only way 
I got it to center the server icons */
.pill_e5445c {
    left: 3px !important;
    top: 4px !important;
}

.tree_ef3116 {
    margin-left: -4px !important;
}

/* Fixes the event icons in place and pings as well */
.upperBadge_cc5dd2 {
    right: -8px !important;
}

.lowerBadge_cc5dd2 {
    right: -8px !important;
    bottom: -7px !important;
}

/*makes notification smaller and centered */
.bar__3b95d {
 margin-left: 9px !important;   
}

.form_f75fb0 {
    display: flex;
    flex-direction: column-reverse;
}

/* Fixes the who's typing text in place 
 also makes it play nice with transparency */
.base_b88801 {
    position: relative !important;
    width: 100% !important;
    bottom: 0px !important;
    left: 0px !important;
}

/* .chatContent_f75fb0:has(.typingDots_b88801) > .messagesWrapper__36d07 {
    margin-bottom: -24px !important;
} */

.typingDots_b88801 {
    padding-left: 16px;
}

/* Makes the status indicator on your profile a square */
g > svg > mask > rect {
    rx: 0;
    ry: 0;
}

/* fixes a bug in basic background */
.sidebar_c48ade .wrapper_ef3116 {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
